body {
    background-color: rgba(100, 200, 50, 0.5);
}

.header {
    text-align: center;
}

img {
    width: 30%;
    margin: 10%;
    object-fit: contain;
    float: top;
}

.center-text {
    text-align: center;
}


.list {
    list-style: none;
}

.oblique {
    font-style: oblique;
}