body {
    background-color: rgba(100, 200, 50, 0.5);
}

img {
    display: block;
    margin: 0 auto 0 auto;
    width: 30%;
    padding: 10px;
}

.center {
    padding: 0 10% 0 10%;
}

.center-text {
    text-align: center;
}

.list {
    list-style: none;
    padding: 0 10% 0 10%;
    display: block;
    margin: 0 10% 0 10%;
}

.italic {
    font-style: oblique;
}

#gecko {
    float:left;
    width: 20%;
    margin: 5% 40% 10% 40%;
    padding-bottom: 5px;
    border-style: double;
    border-radius: 10px;
    border: 10%;
    border-color: black;
    box-sizing: border-box;
}