body {
    background-color: rgba(100, 200, 50, 0.5);
}

img {
    display: block;
    margin: 0 auto 0 auto;
    width: 30%;
    padding: 10px;
}

.center {
    padding: 0 10% 0 10%;
}

.center-text {
    text-align: center;
}


.list {
    list-style: none;
    padding: 0 10% 0 10%;
    /* float: left; */
    display: block;
    margin: 0 10% 0 10%;
}
/* adjusting list to have better formatting, need to expand */

.italic {
    font-style: oblique;
}

#protein {
    float:none;
    padding-bottom: 10px;
    border-style: double;
    border: 10%;
    border-color: black;
    box-sizing: border-box;
}